{{ partial "header.html" . }}

<section id=content>
  <h1>{{ if .Draft }}<span style="color: #eeeeee;">[Draft]</span> {{ end }}{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}
  </h1>

  {{ if  .Params.hidden }}
  <div id=sub-header>
    Last modified · {{ .Lastmod.Format "January 2, 2006" }} ·
   
  </div>
  {{ end }}


  {{ if not .Params.hidden }}
  <div id=sub-header>
    {{ .Date.Format (.Site.Params.dateform | default "Mon Jan 2 2006") }} · {{ .ReadingTime }} minute read
    · (last modified on {{ .Lastmod.Format "January 2, 2006" }})
  </div>
  {{ end }}

  <p>
    {{ $taxonomy := "tags" }}
        {{ with .Param $taxonomy }}
        <strong>tags — </strong>
        
          {{ range $index, $tag := . }}
          {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
          
            <a class="in-post-tag" href="{{ .Permalink }}">  ▪ {{ $tag | urlize }}</a>
          
          {{- end -}}
          {{- end -}}
        
        {{ end }}
      </p>

  <div class="entry-content">
    {{ .Content }}
  </div>

  <div id=links>
    {{ if .PrevInSection }}
    <a style="text-decoration: none;" class="basic-alignment left" href="{{.PrevInSection.Permalink}}"><h3 style="color: #eeeeee; text-transform: capitalize;" >← {{.PrevInSection.Title}}.</h3></a>
    {{ end }}

    {{ if .NextInSection }}
    <a style="text-decoration: none;" class="basic-alignment left" href="{{.NextInSection.Permalink}}"><h3 style="color: #eeeeee; text-transform: capitalize;" > {{.NextInSection.Title}} →</h3></a>
    {{ end }}
  </div>

  {{ if not .Params.hidden }}
  {{ template "_internal/disqus.html" . }}
  {{ end }}

</section>

{{ partial "footer.html" . }}