{{ partial "header.html" . }}

<section id=content>
  <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

  <div id=sub-header>
    {{ .Date.Format (.Site.Params.dateform | default "January 2006") }} · {{ .ReadingTime }} minute read
  </div>

  <div class="entry-content">
    {{ .Content }}

    <script src="https://utteranc.es/client.js"
        repo="as1ndu/as1ndu.github.io"
        issue-term="title"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
  </div>

  <div id=links>
    {{ if .PrevInSection }}
      <a class="basic-alignment left" href="{{.PrevInSection.Permalink}}">&laquo; {{.PrevInSection.Title}}</a>
    {{ end }}
    {{ if .NextInSection }}
      <a class="basic-alignment left" href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}} &raquo;</a>
    {{ end }}
  </div>
</section>

{{ partial "footer.html" . }}


