{{ partial "header.html" . }}

<pre style="max-width:100%; white-space:normal;">
“You never change things by fighting the existing reality.
To change something, build a new model that makes the existing model obsolete.”
<br/>
― R. Buckminster Fuller
<a href="#" style="color:brown;"></a>
</pre>

<section id=content>
  <ul class=posts_listing>
    {{ range .Data.Pages.ByPublishDate.Reverse }}
      <li>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div id=date>
          <time>{{ .Date.Format (.Site.Params.dateform | default "January 2006") }}</time>
        </div>
      </li>
    {{ end }}
  </ul>

  <!--
  <h4>Projects, Talks & Articles.</h4>
  <ol>
    <li>
      <ul>
         Projects.
        <li>Shamin</li>
        <li>Win Authenticator</li>
        <li>Ndege</li>
      </ul>
    </li>

    <li>
      <ul>
        Talks.
        <li>The Future of Justice</li>
        <li>Smart Contracts with Vyper</li>
      </ul>
    </li>

    <li>
      <ul>
        Press.
        <li>Interview with Digest Africa</li>
      </ul>
    </li>
  </ol>
-->
  
</section>



{{ partial "footer.html" . }}

