{{ partial "header.html" . }}
<section id=content>
  <ul class=posts_listing>
    {{ range first  .Site.Params.maxPosts   .Site.RegularPages }}

    {{ if not .Params.hidden }}

    <li class="untyped">
      <h2><a style="color:#e43f5a;"  href="{{ .Permalink }}">{{ if .Draft }} <span style="color: #eeeeee;">[Draft]</span> {{ end }}{{ .Title }}</a></h2>
      <div id=date>
        <time style="font-family: 'Courier New', monospace;">{{ .Date.Format (.Site.Params.dateform | default "Mon Jan 2 2006") }}</time>
      </div>

      {{ if .Params.description }}
      <article>
        {{ .Params.description }}
      </article>
      {{ end }}

    </li>
    {{ end }}

    {{ end }}
  </ul>

  <p>
    
    <a style="text-decoration: none; font-size: 25px; font-weight: 900;" href="/posts">see all posts →</a>
    
  </p>
</section>



{{ partial "footer.html" . }}