{{ partial "header.html" . }}
<section id=content>
  <ul class=posts_listing>
    {{ range first      .Site.Params.maxPosts     .Site.RegularPages }}

    {{ if not .Params.hidden }}

    <li class="untyped">
      <h2><a  href="{{ .Permalink }}">{{ if .Draft }}[Draft] {{ end }}{{ .Title }}</a></h2>
      <div id=date>
        <time>{{ .Date.Format (.Site.Params.dateform | default "Mon Jan 2 2006") }}</time>
      </div>

      {{ if .Params.description }}
      <article>
        {{ .Params.description }}
      </article>
      {{ end }}

    </li>
    {{ end }}

    {{ end }}
  </ul>
</section>



{{ partial "footer.html" . }}